<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Design</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<main>
    <header>
        <h1>Design</h1>
        <img height="100" th:src="@{/img/merinal-logo.svg}" width="200">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="logout">
        </form>
    </header>
    <form method="post" th:object="${taco}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <span class="text-danger"
              th:errors="*{ingredients}"
              th:if="${#fields.hasErrors('ingredients')}">
        </span>
        <div class="block" id="wrap">
            <h3>Choose your wrap</h3>
            <div th:each="ingredient : ${wrap}">
                <input th:field="*{ingredients}" th:id="${ingredient.id}" th:value="${ingredient.id}" type="checkbox">
                <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
            </div>
        </div>
        <hr>

        <div class="block" id="protein">
            <h3>Pick your Protein</h3>
            <div th:each="ingredient : ${protein}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}" type="checkbox">
                <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
            </div>
        </div>
        <hr>
        <div class="block" id="cheese">
            <h3>Choose your cheese</h3>
            <div th:each="ingredient : ${cheese}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}" type="checkbox">
                <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
            </div>
        </div>
        <hr>
        <div class="block" id="sauce">
            <h3>Choose your sauce</h3>
            <div th:each="ingredient : ${sauce}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}" type="checkbox">
                <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
            </div>
        </div>
        <hr>
        <div class="block" id="veggies">
            <h3>Choose your veggies</h3>
            <div th:each="ingredient : ${veggies}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}" type="checkbox">
                <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
            </div>
        </div>
        <hr>
        <div>
            <label for="tacoName">Name your taco</label>
            <input id="tacoName" th:field="*{name}" type="text">
            <span class="text-danger"
                  th:errors="*{name}"
                  th:if="${#fields.hasErrors('name')}">Taco name error</span>
        </div>
        <div>
            <br>
            <button type="submit">Complete crafting</button>
        </div>
    </form>
</main>
</body>
</html>