<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<main>
    <header>
        <h1>Login</h1>
    </header>
    <form method="post" th:action="@{/login}">
        <div>
            <label for="username">username</label>
            <input id="username" name="username" type="text">
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <input type="submit" value="Se Connecter">
        </div>
    </form>
    <footer>
        <!--        <a th:href="@{/oauth2/authorization/github}">Login with Github</a>-->
        <a th:href="@{/oauth2/authorization/github}">Login with GitHub</a>
        <h3>New to here</h3><a th:href="@{/register}">Create an account</a>
    </footer>
</main>
</body>
</html>