<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Order</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<main>
    <header>
        <h1>Current order</h1>
        <img alt="" height="100" th:src="@{/img/merinal-logo.svg}" width="200">
    </header>
    <div>
        <h2>Designed Tacos</h2>
        <a th:href="@{/design}">🧑‍🍳Back to kitchen ...</a>
        <ul>
            <li th:each="taco : ${tacoOrder.tacos}">
                <span th:text="${taco.name}"></span>
            </li>
        </ul>
    </div>
    <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
        <h3>🗺 Deliver To : </h3>
        <div>
            <label for="deliveryName">Delivery Name</label>
            <input th:field="*{deliveryName}" type="text"/>
            <span class="text-danger"
                  th:errors="*{deliveryName}"
                  th:if="${#fields.hasErrors('deliveryName')}">
            </span>
        </div>
        <div>
            <label for="deliveryStreet">delivery Street</label>
            <input th:field="*{deliveryStreet}" type="text">
            <span class="text-danger"
                  th:errors="*{deliveryStreet}"
                  th:if="${#fields.hasErrors('deliveryStreet')}">
            </span>
        </div>
        <div>
            <label for="deliveryCity">delivery City</label>
            <input th:field="*{deliveryCity}" type="text">
            <span class="text-danger"
                  th:errors="*{deliveryCity}"
                  th:if="${#fields.hasErrors('deliveryCity')}">
            </span>
        </div>
        <div>
            <label for="deliveryState">delivery State</label>
            <input th:field="*{deliveryState}" type="text">
            <span class="text-danger"
                  th:errors="*{deliveryState}"
                  th:if="${#fields.hasErrors('deliveryState')}">
            </span>
        </div>
        <div>
            <label for="deliveryZip">delivery Zip</label>
            <input th:field="*{deliveryZip}" type="text">
            <span class="text-danger"
                  th:errors="*{deliveryZip}"
                  th:if="${#fields.hasErrors('deliveryZip')}">
            </span>
        </div>
        <hr>
        <h3>🪪 Card Information : </h3>
        <div>
            <label for="ccNumber">Number</label>
            <input th:field="*{ccNumber}" type="text">
            <span class="text-danger"
                  th:errors="*{ccNumber}"
                  th:if="${#fields.hasErrors('ccNumber')}">
            </span>
        </div>
        <div>
            <label for="ccExpiration">Expiration</label>
            <input th:field="*{ccExpiration}" type="text">
            <span class="text-danger"
                  th:errors="*{ccExpiration}"
                  th:if="${#fields.hasErrors('ccExpiration')}">
            </span>
        </div>
        <div>
            <label for="ccCVV">CVV</label>
            <input th:field="*{ccCVV}" type="text">
            <span class="text-danger"
                  th:errors="*{ccCVV}"
                  th:if="${#fields.hasErrors('ccCVV')}">
            </span>
        </div>
        <div>
            <input type="submit" value="Validate Order">
        </div>
    </form>
</main>

</body>
</html>